<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Latest News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js">
    </script>
</head>

<body>
    <header class="hero has-text-centered has-background-primary">
        <h1 class="title">NEWSY</h1>
        <p class="subtitle">A news aggregator for current events nerds</p>
        <div class="container level" id="forms">
            <form class="level-item">
                <input class="input" type="text" placeholder="example: election" id="keyword" />
                <input class="button" type="submit" value="Filter" id="filter" />
            </form>
            <div class="level-item">
                <button class="button" id="scrape">Get latest news</button>
            </div>
        </div>
    </header>

    <div class="container has-text-centered" id="articles">
        {{{body}}}
    </div>

    <footer class="has-text-centered has-background-primary">&copy; Karsten Rabe 2018</footer>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="js/front.js"></script>

</body>

</html>