{{#if article.0.filteredBy}}
<p>
    Filtered by "{{article.0.filteredBy}}".
</p>
<button id="clear" class="button">Clear</button>
{{/if}}

{{#each article}}
<div>
    <a href={{this.link}} target="_blank" class="has-text-primary">{{this.title}}</a>
    <p>{{this.summary}}</p>
    <hr />
</div>
{{/each}}