#articles {
    max-width: 600px;
    margin-top: 135px;
    margin-bottom: 55px;
    z-index: 0;
}

div * {
    margin: 5px;
}

header, footer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
}

header {
    box-shadow: 0 1px 10px 0;
    top: 0;
}

footer {
    padding: 15px;
    bottom: 0;
}

#keyword {
    max-width: 350px;
}

#forms {
    max-width: 525px;
}

.article:hover {
    border: 2px solid hsl(0, 0%, 21%);
    border-radius: 3px;
    cursor: pointer;
}

.level {
    margin-top: -25px;
}

.hidden {
    visibility: hidden;
    display: none;
}

#updated {
    position: fixed;
    top: 125px;
    right: 0;
    padding: 5px;
    border-radius: 3px;
}

#updated:hover {
    opacity: .25;
}

@media only screen and (max-width: 768px) {
    #articles {
        margin-top: 215px;
        margin-bottom: 0;
    }
    #updated {
        position: fixed;
        top: 178px;
        min-width: 260px;
    }
    footer {
        position: relative;
    }
}